.one {
    animation: fadeUp linear 1s forwards;
}

.two {
    animation: fadeUp linear 1.2s forwards;
}

.three {
    animation: fadeUp linear 1.4s forwards;
}

.four {
    animation: fadeUp linear 1.6s forwards;
}